/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  background-color: #fff; /*#333*/
  font: sans-serif;
}
}
body {
  color: #EC314D;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  /*height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 1200px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

#coverTitle{
	color: #000;
	font-size: 60px;
	text-transform: capitalize;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/* Data Content*/
.left{
	display: inline-block;
	float: left;
	margin-left: 5%;
	padding-left: 5%;
}

.right{
	display: inline-block;
	float: right;
	margin-right: 5%;
	padding-right: 5%;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#title{
  text-align: center;
	font-size: 36px;
	font-family: sans-serif;
  text-transform: uppercase;
  color: black;
}

#explanations{
	opacity: 0.7;
	max-width: 450px;
	border-width: 1px;
	border-style: solid;
	border-color: #EC314D;
	position: relative;
	margin-top: -300px;

}

#content{
  font: sans-serif;
  font-size: 14px;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10%;
	padding-top: 3%;
	
}

#title{
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

#content h6{
  text-align: left;
  margin: 0;
  padding: 0;
}

#navigation{ 
  position: fixed;
  margin-top: -40px;
  margin-left: -40px;
  text-transform: uppercase;
  font-size: 14px;
  list-style-type: none;

}

#navigation .nav-style{

  font-family: sans-serif;
  list-style-type: none;
  line-height: 24px;



}

#navigation ul li a {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font:bold;
  font-weight: 750;
  color: #fff;
  text-decoration: blink;
  
}

.effect{
  padding: 5px;
  text-decoration: none;
  background-color: #C1C1C1;

}

/**Hover effect from https://github.com/IanLunn/Hover/**/
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(225, 189, 203, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #738AB0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}



#map1{
  padding-top: 3%;
  font: 12px sans-serif;
}

#map1 .tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

#map2{
  font: 12px sans-serif;
}

#map2 .axis path,line{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#map2 .dot{
  stroke: #fff;
  stroke-width: 2;
  stroke-opacity: 0.6;
}

#map2 .tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}





